.list-container

  %p Click a restaurant to see all its reviews and ratings.
  %ul{class: 'listings'}
  - @cafes.each do |cafe|
    %li
      %a{href: '#'}
        = cafe.name
      %span{class: 'description'}
        = cafe.description
