.list-container

  %p Click a restaurant to see all its reviews and ratings.
  %ul{class: 'listings'}
  - @cafes.each do |cafe|
    %li
      =link_to(cafe.name, {:controller => 'reviews', :action => 'index', :cafe_id => cafe.id}) 
      %span{class: 'description'}= cafe.description
      .average-rating
        Average rating: 
        =cafe.average_rating_for(cafe.id)
