.list-container
  - if flash[:notice]
    %p{:class => 'notice'}
    = notice
  %p
    = link_to 'Add new review', new_cafe_review_path(@cafe)
  %p 
  Reviews for  
  = @cafe.name

  %ul{class: 'listings'}
    - @reviews.each do |review|
      %li{class: 'post'}
        = review.post
        .star
          - review.rating.times do |rating|
            &#9733