%header
  #logo
    %a{href: "/"}
      = image_tag "logo135.jpeg"

    %h1 Green Leaf Reviews

  #user-links
    = link_to 'Add table', new_table_path, :class => 'add-table'
    = link_to 'Add +', new_cafe_path, :class => 'add-cafe'


